.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    /* this --twitter-color is in app.css for the variable to have a global scope */
    color: var(--twitter-color);
    transition: color 0.1s ease-in-out;
}
.sidebarOption > .MuiSvgIcon-root{
    /* this class is added by material ui to their icons
    We can use this to modify the icons as we want
    */
    padding: 20px;
} 
.sidebarOption > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}
.sidebarOption--active{
    color: var(--twitter-color);
}